html {
  scroll-behavior: smooth;
}

body {
  background: #a6a5eb;
  color: #5d6164;
  font-family: Poppins Medium, Arial, sans-serif !important;
  overflow-x: hidden;
  padding: 0 2px;
}

.scroll-container {
  position: relative;
}

.scroll-clip {
  position: relative;
  width: 1850px;
  height: 950px;
}

.scroll-list {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.scroll-list div {
  cursor: pointer;
  position: relative;
}

.canvas-container {
  position: relative;
  background: #fff;
  text-align: center;
  height: auto;
  margin: 10px 7px;
  box-shadow: 5px 5px 2px #aaaaaa;
}
