<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin Avisos - Loteria La Veleta</title>
        {% block stylesheets %}
            <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" /> 
            <link href="{{ asset('css/admin/admin.css') }}" rel="stylesheet" /> 
        {% endblock %}
        <link rel="shortcut icon" href="{{ absolute_url('favicon.png') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
