
{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo">
                <h3>aVisos</h3>
            </div>
        </div>
    </div>
    <div class="page-container">
        <div class="header navbar">
        </div>
        <main class="main-content bgc-grey-100">
        </main>
    </div>
{% endblock %}