
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="scroll-container">
            <div id="container-pdfs" class="scroll-list">
            </div>
        </div>
    </div>

    <script>
    </script>
    {# //https://code.tutsplus.com/tutorials/how-to-create-a-pdf-viewer-in-javascript--cms-32505 #}
{% endblock %}