<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0    </div>
    <strong>david@loterialaveleta.com<a href="https://loterialaveleta.com">https://loterialaveleta.com</a>.</strong> All rights
    reserved.
  </footer>