{% extends 'back/base.html.twig' %}
{% block content %}
    <div class="row">
        {% for pdf in pdfs %}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
            <iframe src="{{ asset('/public/pdfs/125555.pdf') }}" width="100%" height="500px"></iframe>
            {{ pdf }}
            </div>
        </div>
        {% endfor %}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
            </div>
        </div>
    </div>
{% endblock %}